# 
.DS_Store

# project files
.vscode/
.idea/
.git/

# modules
node_modules/
*.log

# ignore src
assets/
public/
src/**/*

# dev config file
.husky
.eslintignore
.prettierignore
.prettierrc
.stylelintignore
.stylelintrc
index.html
tsconfig.json
webpack.config.ts
webpack.lib.config.ts

# lock
package-lock.json
yarn.lock
